@import "tailwindcss";

html, body{
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities{
  @keyframes blink {
    0%,100%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
  }
  .animate-blink{
    animation: blink 0.8s step-end infinite;
  }


  @keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(250%);
    }
  }
  .animate-loading-bar{
    animation: loading 0.8s ease infinite;
  }
}

.reveal{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 07s ease;
}
.reveal.visible{
  opacity: 1;
  transform: translateY(0);
}